
@import '~bootstrap/scss/bootstrap';
@import '~mdb-ui-kit/css/mdb.min.css';
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");



@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$color-white: #fffbfa;
$color-black: #1d5139;



:root {
    /* GENERAL FONT */
    --font1: "Titillium Web", sans-serif;
    --font2: 'Roboto', sans-serif;
    /* GENERAL COLOR */
    --bg-col-1: #0059b3;
    --bg-col-2: #dc3545;
    --bg-col-3: #fff;
    --bg-col-4: #024c96;
    --tx-color-1: #fff;
    --tx-color-2: #000;
    --tx-color-3: #0059b3;
    // FOCUS START
    /* READ MORE COLOR */
    --tx-rm-color-1: #fff;
    --bg-rm-color-1: #fff;
    /* TAG BOTTOM-RIGHT COLOR */
    /* FOOTER CARD COLOR */
    --bg-ft-col-1: #0059b3;
    --tx-ft-color-1: #fff;
    // focus section
    --tx-focus-section-title: #212529;
    --bg-focus-section: aliceblue;
    --bg-focus-card-overlay: rgba(0, 89, 179, 0.5);
    --tx-focus-hover: #fff;
    --tx-focus-font-weight: 400;
    --tx-focus-tag-color-1: #fff;
    --bg-focus-tag-color-1: #0059b3;
    --bg-focus-cat: #0059b3;
    --tx-focus-cat: #fff;
    --bg-focus-footer: #0059b3;
    --tx-focus-footer: #fff;
    --bg-focus-card: #fff;
    --tx-focus-card: #000;
    //button arrow & archive
    --tx-button: #fff;
    --bg-button: #0059b3;
}
/*start dark mode css*/
.dark-mode {

    /* GENERAL COLOR */
    --bg-col-1: #121212;
    --tx-color-1: #fff;
    //button arrow & archive
    --tx-button: #fff;
    --bg-button: #272727;
    --bg-button-border: #272727;
    --bg-button-hover: #fff;
    --tx-button-hover: #272727;
    --bg-button-focus: #0f0f0f40;
    //focus-section
    --tx-focus-section-title: #fff;
    --bg-focus-section: #121212;
    --bg-focus-card-overlay: rgba(0, 0, 0, 0.5);
    --tx-focus-hover: #fff;
    --bg-focus-card: #272727;
    --tx-focus-card: #fff;
    --tx-focus-font-weight: 100;
    --tx-focus-tag-color-1: #fff;
    --bg-focus-tag-color-1: #272727;
    --tx-focus-cat: #272727;
    --bg-focus-cat: #fff;
    --tx-focus-tag-a: #fff;
    --bg-focus-footer: #272727;
    --tx-focus-footer: #fff;
    --focus-border-card: 0;
}
/* end dark mode css */
.btn-archive {
    color: var(--tx-button);
    background: var(--bg-button);
    border-color: var(--bg-button-border);

    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    &:hover {
        color: var(--tx-button-hover);
        background-color: var(--bg-button-hover);
        border-color: var(--bg-button-hover);
    }

    &:focus {
        -webkit-box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
        box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
    }
}

.focus-section {
    background: var(--bg-focus-section);
    font-family: var(--font1);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    .title-section {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--tx-focus-section-title);
    }

    .card {
        font-size: 1rem;
        border: var(--focus-border-card);

        .card-body {
            background: var(--bg-focus-card);
            color: var(--tx-focus-card);
            .card-text {
                // font-weight: var(--tx-focus-font-weight);
                font-size: small;
            }
        }


        .card-image {
          height: 44%;

            // .image-overlay {
            //     position: absolute;
            //     top: 0;
            //     bottom: 0;
            //     left: 0;
            //     right: 0;
            //     height: 100%;
            //     width: 100%;
            //     opacity: 0;
            //     transition: 0.5s ease;
            //     background: var(--bg-focus-card-overlay);
            // }

            // &:hover .image-overlay {
            //     opacity: 1;
            // }
        }

        .text-img-over {
            position: relative;


            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background: var(--bg-focus-card-overlay);
            }

            &:hover .overlay {
                opacity: 1;
            }
        }

        .social-hover {
            color: var(--tx-focus-hover);
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;


            .fa-share-alt {
                color: var(--tx-focus-hover);

                &:hover {
                    color: var(--tx-color-1);
                }
            }


        }

        .hover-text {

            position: relative;
            text-align: center;
            color: var(--tx-focus-hover);
        }

        .bottom-right-tag {
            position: absolute;
            bottom: 0;
            right: 0;
            background: var(--bg-focus-tag-color-1);
            padding: 5px 10px 5px 10px;
            border-top-left-radius: calc(.25rem - 1px);
            font-size: 0.8rem;
            font-weight: 200;
            color: var(--tx-focus-tag-color-1);
            z-index: 1;

            a {
                color: var(--tx-focus-tag-color-1);
                text-decoration: none;
            }

            a:hover {
                color: var(--tx-focus-tag-color-1);
                text-decoration: underline;
            }

        }



        .sub-cat {
            font-weight: 600;
            font-size: 1rem;

            .bg-category {
                background: var(--bg-focus-cat);
                color: var(--tx-focus-cat);
            }

            a {
                color: var(--tx-focus-tag-a);
            }
        }



        .card-title {
          display: flex;
          justify-content: center;
          inline-size: inherit;
            font-family: var(--font1);
            font-weight: 600;
            font-size: 1.3rem;
            /* height: 73px;
        overflow: hidden; */
        }

        .card-footer {
          background: #1dba8c;
          border-radius: 3px;
            // background: var(--bg-focus-footer);
            color: var(--tx-focus-footer);

            .card-footer__info {
                font-size: 1rem;
                font-weight: 300;
                position: relative;
            }

        }


        .read-more {
            position: absolute;
            right: 0;
            font-weight: 600;
        }

        .read-more-1 {
            text-decoration: none;
            position: relative;
            color: var(--tx-focus-footer);
        }

        .read-more-1::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: var(--bg-rm-color-1);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 250ms ease-in;
        }

        .read-more-1:hover {
            color: var(--tx-focus-footer);
        }

        .read-more-1:hover::after {
            transform: scaleX(1);
            transform-origin: right;
            color: var(--tx-focus-footer);
        }

        .read-more-2 {
            text-decoration: none;
            position: relative;
            margin-right: 15px;
            color: var(--tx-focus-footer);
        }

        .read-more-2::after {
            content: "";
            /* You should use \ and not /*/
            font-family: "Font Awesome 5 Free";
            /* This is the correct font-family*/
            position: absolute;
            right: -18px;
            bottom: 0;
            color: var(--tx-focus-footer);
        }

        .read-more-2:hover {
            color: var(--tx-focus-footer);
        }

        .read-more-2:hover::after {
            transform: translate(3px, 0);
            transition: all 0.1s ease-in;
            color: var(--tx-focus-footer);
        }

        .read-more-3 {
            text-decoration: none;
            position: relative;
            color: var(--tx-focus-footer);
        }

        .read-more-3:hover {
            color: var(--tx-focus-footer);
            text-decoration: underline;
        }
     }
}


.image-overlay {
  height: 10%;
}

.foodie {
  max-height: 221px;
  max-width: 198px;
  margin-left:20%;

}

h5   {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  position: relative;
  bottom: 50%;
}

.focus-section .card .card-body {

  height: 100%;
  max-height: 280px;
}


img#foodie {
margin: 0% 21%;
width: auto;
height: 100%;
filter: blur(5px);
-webkit-filter: blur(5px);
}




.clock {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  // border: 7px solid #F6E3C5;
  margin: -1% 82%;
  position: relative;
  padding: 0.7rem;
  -webkit-box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  -moz-box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  box-shadow: 0 20px 30px rgba(104,75,106,0.65);
  background: #F6E3C5;
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fefefc;
  // -webkit-box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  // -moz-box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  // box-shadow: 0 20px 10px rgba(62,47,63,0.45);
  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 6px;
  height: 104%;
  background: #b8b8c5;
  z-index: 0;
  left: 47%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}


.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fefefc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  background-color: rgb(131, 118, 118);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: -9px;
  margin-top: -6px;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #4CACBC;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  height: 7%;
  width: 30%;
  z-index: 3;
}

.hand.min-hand {
  height: 7.5%;
  z-index: 10;
  width: 42%;
}

.hand.second-hand {
    width: 2%;
    height: 40%;
    background-color:#A0D995;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 11%;
    left: 46%;
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: 8;
      transform: rotate(360deg);

}


ul {
  top: 50px;
  list-style: none;
  float: right;
  margin-right: 8px;
  margin-left: auto !important;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

li {
  list-style-type: none;
  // z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 27px auto;
  width: 150px;
  height: 50px;
  background: transparent;
  border-radius: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  cursor: pointer;
}

h1 {
  font-family: Permanent Marker;
}
#red {
  color: rgb(0, 255, 208);
}
#topNote {
  background: linear-gradient(rgba(190, 190, 0, 0.05), rgba(190, 190, 0, 0.05));
  height: 20px;
}
#displayBox {
  border-color: rgba(200, 220, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  min-height: 200px;
  max-width: 52vh;
  // margin:0 auto;
  margin-left: 77%;
  margin-top: 10em;
  padding-bottom: 35px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: lightyellow;
  border-radius: 2px 2px 2px 2px;
  font-family: Noticia Text, Sans-Serif, Monospace;
  -webkit-box-shadow: 2px 21px 33px -8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 21px 33px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 21px 33px -8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#quote {
  padding-left: 30px;
  font-size: 15px;
  font-style: italic;
}
#person {
  font-style: italic;
  padding-right: 25%;
}

//QUOTE BOX BUTTON
#generate {
  display: inline-block;
  padding:5px;
  color: #32a99d;
  border: none;
  border-radius: 32px;
  font-size: .8em;
  font-family: monospace, sans-serif;
  cursor: pointer;
  margin: 2vh 11vh;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #32a99d;
    color: #16f0d7cc;
  }
}

//CONTAINER:

a {
  text-decoration: none;
  color: #172b4d;
}

h1 {
  font-family: "Song Myung", serif;
}


/* DEFAULT STYLE */
:root {
font-size: 16px;
--card-img-height: 200px;
}
.card-container {
  display: flex;
  transition: all 200ms ease-in-out;
  position: absolute;
  top: 52%;
  left: 40%;
}

.card {
align-self: flex-start;
position: relative;
width: 325px;
min-width: 275px;
margin: 1.25rem 0.75rem;
background: white;
transition: all 300ms ease-in-out;

.card-img {
  visibility: hidden;
  min-height: 111%;
  width: 100%;
  height: var(--card-img-height);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: var(--card-img-height);
  top: 0;
}

.card-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 200ms ease-in-out;

  .card-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    transition: all 200ms ease-in-out;

    .card-tag {
      width: 60px;
      max-width: 100px;
      padding: -2.799999999999997rem  0.5rem;
      font-size: 11px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: #505f79;
      color: #fff;
    }
  }

  .card-title {
    z-index: 10;
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
    transition: all 350ms ease-in-out;
  }

  .card-creator {
    padding-bottom: 0.75rem;
    transition: all 250ms ease-in-out;
  }
}

&:hover {
  cursor: pointer;
  box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  transform: scale(1.025);

  .card-img-hovered {
    --card-img-hovered-overlay: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.65)
    );
    height: 60%;
  }

  .card-about,
  .card-creator {
    opacity: 0;
  }

  .card-info {
    background-color: transparent;
  }

  .card-title {
    color: #285440c4;
    transform: translate3d(-5px, -7px, 13px);
  }
}
}

// CARD IMAGES
.card-1 {
.card-img,
.card-img-hovered {
  background-image: url('./src/imgs/Nebula.png');
}
}

.card-2 {
.card-img,
.card-img-hovered {
  background-image: url('./src/imgs/tagged.png');
}
}

.card-3 {
.card-img,
.card-img-hovered {
  background-image: url('./src/imgs/Nebula.png');
}
}

.card-img-top {
  height: 114%
}


#tech-projects {
  margin: 0% 4%;
  // @media only screen and (max-width: 600px) {

  //     background-color: rgb(204, 153, 12);
  //   }

    @media (max-width: 500px) and (max-height: 500px) {
      background-color: rgb(204, 153, 12);
      margin: 0% 4%;
    }

}




section {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  font-size: 20px;
  padding: 1em;
  background-position: center center;
  background-size: cover;
}

$strings: (
  'Hi, my name is Kathy! ' 'I am a Full Stack Engineer''with a passion for creating things.'
);

$durCharFwd: 0.1;
$durFullGap: 2;
$durCharBwd: 0.08;
$durDoneGap: 1;

$charCount: 0;
$durTotal: 0;
@each $string in $strings {
  $charCount: $charCount + str-length($string);
  $durTotal: $durTotal +
    (str-length($string) * ($durCharFwd + $durCharBwd)) +
    $durFullGap +
    $durDoneGap;
}
@function percent($string, $letter, $modifier) {
  $stringsPast: $string - 1;
  $time: 0;
  @while $stringsPast > 0 {
    $time: $time +
      (
        ($durCharFwd + $durCharBwd) * (str-length(nth($strings, $stringsPast)))
      ) +
      $durFullGap +
      $durDoneGap;
    $stringsPast: $stringsPast - 1;
  }
  @if $letter <= str-length(nth($strings, $string)) {
    $time: $time + ($durCharFwd * ($letter - 1));
  } @else {
    $time: $time +
      ($durCharFwd * str-length(nth($strings, $string))) +
      $durFullGap +
      ($durCharBwd * ($letter - str-length(nth($strings, $string))));
  }
  @return ($time / $durTotal * 100 + $modifier) + '%';
}
$currentPercentage: 0;

@keyframes typed {
  @for $i from 1 through length($strings) {
    @for $j from 1 through (str-length(nth($strings, $i)) * 2) {
      @if $j < str-length(nth($strings, $i)) * 2 {
        // not last character deleted
        #{percent($i, $j, 0)},
        #{percent($i, $j+1, -0.001)} {
          @if $j <= str-length(nth($strings, $i)) {
            content: quote(#{str_slice(nth($strings, $i), 1, $j)});
          } @else {
            content: quote(
              #{str_slice(
                  nth($strings, $i),
                  1,
                  str-length(nth($strings, $i)) -
                    ($j - str-length(nth($strings, $i)))
                )}
            );
          }
        }
      } @else {
        @if $i < length($strings) {
          // not last string
          #{percent($i, $j, 0)},
          #{percent($i+1, 1, -0.001)} {
            content: '​'; // zero-width space to retain element height
          }
        } @else {
          // last string
          #{percent($i, $j, 0)},
          100% {
            content: '​'; // zero-width space to retain element height
          }
        }
      }
    }
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}





.words {
  display: flex;
  align-items: center;
  margin-left: 43px;
  margin-top: 240px;
  justify-content: center;
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 1vw);
  font-family: 'VT323', monospace, sans-serif;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::after {
    content: '​';
    position: absolute;
    top: 389px;
    margin: -25px -24px;
    right: 550px;
    // @media screen and (max-width: 575px) {
    //   background-repeat: repeat;
    //   position: fixed;
    //   top: 229px;
    // }
    @media only screen and (min-width: 960px) {
      /* styles for browsers larger than 960px; */
      position: absolute;
      top: 15%;
      right:36%;
  }

  @media only screen and (max-width: 960px) {
    /* styles for browsers smaller than 960px; */
    position: absolute;
    top: 15%;
    right: 35%;
}
    display: inline-block;
    padding-right: 3px;
    padding-right: calc(2px + 0.1vw);
    border-right: 10px solid rgba(#3f3, 0.75);
    border-right: calc(1.1vw - 15px) solid rgba(#3f3, 0.75);
    text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
    white-space: nowrap;
    animation: typed #{$durTotal + 's'} linear 1s infinite,
      beam-blink 1s infinite;
  }
}

section.article1:first-child {
  background-image: url('./src/imgs/bg.png');
  color:#32a99d;
}




 //FLOATING TEXT

.txt-type {
  display: inline-block;
  margin-top: 142px;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 65%;
  color: #1d5139;
  font-family: 'serif', Times, serif;
  text-align: center;
  font-size: 55px;
}

section.article2:nth-child(2) {
  background-image: url('./src/imgs/bmtn.png');
  background-repeat: no-repeat;
  background-position-y: 7%;
  background-size: initial;
  // min-width:114%;
  color: #1d5139;
  font-size: 24px;
}

.imgBox {
  border: 1px solid #dedbdb;
  // height: 54%;
  // width: auto;
  top: -55%;
  left: 26%;
  border-radius: 3%;
  position: relative;
  box-shadow: #746c6c 6px 10px 15px;
}
.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* About Me
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 17px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #20247b;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

.about-section .counter {
padding: 18px;
background: #ffffff;
border-radius: 10px;
margin-top: 1%;
height: max-content;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: #20247b;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}


section#article3:nth-child(3) {
  display: flex;
  background: rgb(236, 244, 246);
  background: linear-gradient(
    180deg,
    rgba(236, 244, 246, 0.6741071428571428) 0%,
    rgba(155, 222, 237, 0.8337710084033614) 100%
  );
}


div#technical-projects {
  margin-right: -54%;
  height: min-content;
  margin-top: -4%;
}

 #technical-skills  {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.tech-skills-row{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#technical-skills h2 {
  display: flex;
  align-items: center;
  height: auto;
  // position: relative;
  margin-inline: auto;
  font-size: 1.8rem;
}

#technical-skills img {
  object-fit: cover;
  height: 40px;
  float: left;
  margin: 12px 12px;
}




section#article4:nth-child(4) {
}

#indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


:root {
  --green-light: #50C878;
  --green: #50C878;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.icon {
  fill: transparent;
  stroke: var(--green);
  stroke-width: 20;
  cursor: pointer;
  position: relative;

  svg {
    overflow: visible;
    width: 2rem;
  }

  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
  }

  .heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--green);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--green);
  }
}

@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--green-light);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}



.animation {
  // display: inline-block;
  // position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  animation: animate 5s infinite;
  animation-delay: none;
  overflow: hidden;
  bottom: -152px;
  align-items: center;
  color: rgb(31, 134, 54);
  font-family: 'serif', Times, serif;
  text-align: center;
  font-size: 14px;
  transition: all;
  transition-duration: 0.5s;
}

@keyframes animate {
  20% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}

.aboutMe {
  margin-top: -5%;
}
//FONT
// .article2 h2 {
//   color: #ac3f63;
//   font-family: 'Great Vibes', cursive;
//   font-size: 30px;
//   line-height: 160px;
//   font-weight: normal;
//   margin-bottom: -258px;
//   margin-top: 113px;
//   text-align: center;
//   text-shadow: 0 1px 1px #fff;
// }

// .about p {
//   color: #255c42;
//   font-size: 19px;
//   font-family: Georgia, 'Times New Roman', Times, serif, serif;
//   text-align: center;
//   text-shadow: 0 1px 1px #fff;
//   width: 40%;
//   position: relative;
//   margin-left: 13%;
// }


// FOLDING MENU//////
.article.menu {
  text-transform: uppercase;
  color: rgba(55, 22, 240, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  //   bottom: 20px;
  //   left: 20px;
  //   z-index: 1;
}
.menu:hover {
  pointer-events: all;
  color: #ABD3CE;
}
.label {
  display: inline-block;
  cursor: pointer;
  font-size: 34px;
  pointer-events: all;
  font-family: monospace;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #921212;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #32a99d;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
  cursor: pointer;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}

.outer-col-1 {
  background: #626ee0;
  margin-top: 8em;
  float: left;
  padding: 10px;
  height: 300px;
  width: 100%;
}

.outer-col-1 contact {
  text-decoration: none;
}


.contact {
  list-style: none;
  text-decoration: none;
}

.inner-col {
  flex: 4;
}
.inner-row article {
  min-height: 60vh;
}
.inner-row aside {
  background: #f3c5c5;
  flex: 1;
}

article {
  padding: 1em;
}

.wrapper {
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    position: absolute;
    bottom: 29px;
    left: 435px;
  }
}

.social-link {
  &--linkedin {
    color: #2587d7;
  }

  &--github {
    color: #000;
  }

  &--dribbble {
    color: #b53561;
  }

  &----envelope {
    color: blue;
  }

  & .social-svg {
    width: 4.8rem;
    height: 4.8rem;

    & .social-group {
      &__icon {
        fill: $color-black;
        transition: all 0.2s;
      }

      &__inner-circle {
        fill: transparent;
        transition: all 0.2s;
      }

      &__outline {
        stroke: $color-black;
        transform-origin: 50% 50%;
        transition: all 0.2s;
      }
    }

    &:hover,
    &:active,
    &:focus {
      & .social-group {
        &__icon {
          fill: $color-white;
          transition: all 0.45s;
        }

        &__inner-circle {
          fill: currentColor;
          transition: all 0.45s;
        }

        &__outline {
          stroke: currentColor;
          transform: scale(1.1);
          transition: all 0.45s;
        }
      }
    }
  }
}


* {
  font-family: "Saira Semi Condensed", sans-serif;
  transition: all 0.5s ease;
}

// body {
//   background: #dfdfdf;
// }

.container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

form {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
form div, form label, form input, form textarea {
  width: 100%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label, input, textarea {
  padding: 8px;
}

label, [placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input, textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
input:focus, textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}

button {
  background: #2f4ad0;
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
}
button:hover {
  letter-spacing: 2px;
  box-shadow: none;
}

.social-media {
  display: flex;
  position: absolute;
  left: 22%;
  bottom: 1.5%;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  form {
    width: 100%;
  }
}
