@import '~bootstrap/scss/bootstrap';
@import '~mdb-ui-kit/css/mdb.min.css';

$color-white: #fffbfa;
$color-black: #000000;

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  float: right;
  margin-right: 8px;
  margin-left: auto !important;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

li {
  list-style-type: none;
  // z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 27px auto;
  width: 150px;
  height: 50px;
  background: transparent;
  border-radius: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

//CONTAINER:
body {
  // display: flex;
  // flex-direction: column;
  // flex: 5;
  position: relative;
  // margin: 0px;
  z-index: -3;
}
div#wrap {
  position: relative;
  // overflow: hidden;
  z-index: -2;
}

section {
  box-sizing: border-box;
  // position: fixed;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  padding: 1em;
  background-position: center center;
  background-size: cover;
}

section.article1:first-child {
  background-image: url('./src/imgs/bg.png');
  // position: relative;
  // z-index: -2;
  // width: 100%;
}
// //FLOATING TEXT

.txt-type {
  display: inline-block;
  margin-top: 142px;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  color: rgb(31, 134, 54);
  font-family: 'serif', Times, serif;
  text-align: center;
  font-size: 45px;
  left: -12;
  // bottom: 613px;
}

section.article2:nth-child(2) {
  // background-image: url('./src/imgs/kathyson.png');
  // position: absolute;
  // z-index: 3;
  font-size: 13px;
  img {
    margin-left: 442px;
  }
}

section:nth-child(3) {
  background-image: url('https://source.unsplash.com/O6vaYviRDoo/1920x1080');
}

section:nth-child(4) {
  background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080');
}

#indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator > div {
  background-color: rgb(21, 127, 214);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#indicator > div.active {
  transform: scale(1.6);
}

// //NAVBAR

// li:hover {
//   box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
//   background-color: #000;

//   // font-family: 'Montserrat', sans-serif;
//   // letter-spacing: 2px;
//   // transition: 1s box-shadow;
// }

// // li.nav-item:hover::before,
// // li.nav-item:hover::after {
// //   display: block;
// //   animation: clockwise 3s infinite;
// //   content: '';
// //   // position: static;
// //   width: 350px;
// //   height: 50px;
// //   background: #fda8cf;
// //   border-radius: 15px;
// //   z-index: -1;
// // }

// // li:hover:after {
// //   background: #f3ce5e;
// //   animation: 3s counterclockwise infinite;
// // }

// // @keyframes clockwise {
// //   10% {
// //     top: -5px;
// //     left: 0;
// //   }
// //   12% {
// //     top: -2px;
// //     left: 2px;
// //   }
// //   25% {
// //     top: 0;
// //     left: 5px;
// //   }
// //   37% {
// //     top: 2px;
// //     left: 2px;
// //   }
// //   50% {
// //     top: 5px;
// //     left: 0;
// //   }
// //   62% {
// //     top: 2px;
// //     left: -2px;
// //   }
// //   75% {
// //     top: 0;
// //     left: -5px;
// //   }
// //   87% {
// //     top: -2px;
// //     left: -2px;
// //   }
// //   100% {
// //     top: -5px;
// //     left: 0;
// //   }
// // }

// // @keyframes counterclockwise {
// //   0% {
// //     top: -5px;
// //     right: 0;
// //   }
// //   12% {
// //     top: -2px;
// //     right: 2px;
// //   }
// //   25% {
// //     top: 0;
// //     right: 5px;
// //   }
// //   37% {
// //     top: 2px;
// //     right: 2px;
// //   }
// //   50% {
// //     top: 5px;
// //     right: 0;
// //   }
// //   62% {
// //     top: 2px;
// //     right: -2px;
// //   }
// //   75% {
// //     top: 0;
// //     right: -5px;
// //   }
// //   87% {
// //     top: -2px;
// //     right: -2px;
// //   }
// //   100% {
// //     top: -5px;
// //     right: 0;
// //   }
// // }

.animation {
  // display: inline-block;
  // position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  animation: animate 5s infinite;
  animation-delay: none;
  overflow: hidden;
  bottom: -152px;
  align-items: center;
  color: rgb(31, 134, 54);
  font-family: 'serif', Times, serif;
  text-align: center;
  font-size: 14px;
  transition: all;
  transition-duration: 0.5s;
}

@keyframes animate {
  20% {
    transform: translateX(-20px);
  }
}
