@import '~bootstrap/scss/bootstrap';
@import '~mdb-ui-kit/css/mdb.min.css';

$color-white: #fffbfa;
$color-black: #000000;

* {
  box-sizing: border-box;
}

ul {
  top: 50px;
  list-style: none;
  float: right;
  margin-right: 8px;
  margin-left: auto !important;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

li {
  list-style-type: none;
  // z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 27px auto;
  width: 150px;
  height: 50px;
  background: transparent;
  border-radius: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

//CONTAINER:

.img-fluid {
  width: 100%;
  height: auto;
}

.img-fluid.tagged {
  width: auto;
  height: 50%;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5%;
}

.container {
  margin-top: 6%;
}

body {
  // display: flex;
  // flex-direction: column;
  // flex: 5;
  position: relative;
  // margin: 0px;
  // z-index: -1;
}
div#wrap {
  position: relative;
  // overflow: hidden;
  // z-index: -2;
}

section {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  font-size: 20px;
  padding: 1em;
  background-position: center center;
  background-size: cover;
}

$strings: (
  'Hi, my name is Kathy!' ' I am a Software Engineer'
    'with a passion for creating.'
);

$durCharFwd: 0.1;
$durFullGap: 2;
$durCharBwd: 0.08;
$durDoneGap: 1;

$charCount: 0;
$durTotal: 0;
@each $string in $strings {
  $charCount: $charCount + str-length($string);
  $durTotal: $durTotal +
    (str-length($string) * ($durCharFwd + $durCharBwd)) +
    $durFullGap +
    $durDoneGap;
}
@function percent($string, $letter, $modifier) {
  $stringsPast: $string - 1;
  $time: 0;
  @while $stringsPast > 0 {
    $time: $time +
      (
        ($durCharFwd + $durCharBwd) * (str-length(nth($strings, $stringsPast)))
      ) +
      $durFullGap +
      $durDoneGap;
    $stringsPast: $stringsPast - 1;
  }
  @if $letter <= str-length(nth($strings, $string)) {
    $time: $time + ($durCharFwd * ($letter - 1));
  } @else {
    $time: $time +
      ($durCharFwd * str-length(nth($strings, $string))) +
      $durFullGap +
      ($durCharBwd * ($letter - str-length(nth($strings, $string))));
  }
  @return ($time / $durTotal * 100 + $modifier) + '%';
}
$currentPercentage: 0;

@keyframes typed {
  @for $i from 1 through length($strings) {
    @for $j from 1 through (str-length(nth($strings, $i)) * 2) {
      @if $j < str-length(nth($strings, $i)) * 2 {
        // not last character deleted
        #{percent($i, $j, 0)},
        #{percent($i, $j+1, -0.001)} {
          @if $j <= str-length(nth($strings, $i)) {
            content: quote(#{str_slice(nth($strings, $i), 1, $j)});
          } @else {
            content: quote(
              #{str_slice(
                  nth($strings, $i),
                  1,
                  str-length(nth($strings, $i)) -
                    ($j - str-length(nth($strings, $i)))
                )}
            );
          }
        }
      } @else {
        @if $i < length($strings) {
          // not last string
          #{percent($i, $j, 0)},
          #{percent($i+1, 1, -0.001)} {
            content: '​'; // zero-width space to retain element height
          }
        } @else {
          // last string
          #{percent($i, $j, 0)},
          100% {
            content: '​'; // zero-width space to retain element height
          }
        }
      }
    }
  }
}
@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}
* {
  backface-visibility: hidden;
}
html,
body {
  height: 40%;
}
.words {
  // position: absolute;
  // width: 100%;
  display: flex;
  align-items: center;
  margin-left: 43px;
  margin-top: 240px;
  justify-content: center;
  // background-color: #000;
  // background-image: radial-gradient(rgba(#fff, 0.125), rgba(#fff, 0)),
  // linear-gradient(to bottom, #000, #000 2px, #111 3px);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover, 100% 3px;
  font-size: calc(10px + 1vw);
  font-family: 'VT323', monospace, sans-serif;
  color: #3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::after {
    content: '​';
    position: fixed;
    top: 484px;
    right: 550px;
    @media (max-width: 575px) {
      position: fixed;
      top: 229px;
    }
    display: inline-block;
    padding-right: 3px;
    padding-right: calc(2px + 0.1vw);
    border-right: 10px solid rgba(#3f3, 0.75);
    border-right: calc(1.1vw + 4px) solid rgba(#3f3, 0.75);
    text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
    white-space: nowrap;
    animation: typed #{$durTotal + 's'} linear 1s infinite,
      beam-blink 1s infinite;
  }
}

section.article1:first-child {
  background-image: url('./src/imgs/bg.png');

  // position: relative;
  // z-index: -9;
  // width: 100%;
  // text-transform: uppercase;
  color: rgba(55, 22, 240, 0.8);
  // cursor: pointer;
  // pointer-events: none;
  // position: relative;
}
// //FLOATING TEXT

.txt-type {
  display: inline-block;
  margin-top: 142px;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 65%;
  color: rgb(41, 39, 39);
  font-family: 'serif', Times, serif;
  text-align: center;
  font-size: 55px;

  // bottom: 613px;
}

section.article2:nth-child(2) {
  background-image: url('./src/imgs/bmtn.png');
  background-position-y: 0px;
  color: #000000;
  font-size: 13px;
}

.imgBox {
  border: 1px solid #696363;
  height: 360px;
  width: auto;
  border-radius: 100%;
  margin-top: -30%;
  margin-left: 60%;
  position: relative;
  box-shadow: #4d4848 6px 10px 15px;
}

section.article3:nth-child(3) {
  display: flex;
}

section#article4:nth-child(4) {
  // background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080');
  // text-transform: uppercase;
  // color: rgba(22, 240, 58, 0.8);
  // display: inline-block;
  // cursor: pointer;
  // pointer-events: none;
  // position: absolute;
  // bottom: 20px;
  // left: 20px;
  // font-size: 20px;
}

#indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator > div {
  width: 10px;
  height: 10px;
  margin: 10px;
  cursor: pointer;
}

#indicator > div.active {
  transform: scale(1.6);
}

// //NAVBAR

// li:hover {
//   box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
//   background-color: #000;

//   // font-family: 'Montserrat', sans-serif;
//   // letter-spacing: 2px;
//   // transition: 1s box-shadow;
// }

// // li.nav-item:hover::before,
// // li.nav-item:hover::after {
// //   display: block;
// //   animation: clockwise 3s infinite;
// //   content: '';
// //   // position: static;
// //   width: 350px;
// //   height: 50px;
// //   background: #fda8cf;
// //   border-radius: 15px;
// //   z-index: -1;
// // }

// // li:hover:after {
// //   background: #f3ce5e;
// //   animation: 3s counterclockwise infinite;
// // }

// // @keyframes clockwise {
// //   10% {
// //     top: -5px;
// //     left: 0;
// //   }
// //   12% {
// //     top: -2px;
// //     left: 2px;
// //   }
// //   25% {
// //     top: 0;
// //     left: 5px;
// //   }
// //   37% {
// //     top: 2px;
// //     left: 2px;
// //   }
// //   50% {
// //     top: 5px;
// //     left: 0;
// //   }
// //   62% {
// //     top: 2px;
// //     left: -2px;
// //   }
// //   75% {
// //     top: 0;
// //     left: -5px;
// //   }
// //   87% {
// //     top: -2px;
// //     left: -2px;
// //   }
// //   100% {
// //     top: -5px;
// //     left: 0;
// //   }
// // }

// // @keyframes counterclockwise {
// //   0% {
// //     top: -5px;
// //     right: 0;
// //   }
// //   12% {
// //     top: -2px;
// //     right: 2px;
// //   }
// //   25% {
// //     top: 0;
// //     right: 5px;
// //   }
// //   37% {
// //     top: 2px;
// //     right: 2px;
// //   }
// //   50% {
// //     top: 5px;
// //     right: 0;
// //   }
// //   62% {
// //     top: 2px;
// //     right: -2px;
// //   }
// //   75% {
// //     top: 0;
// //     right: -5px;
// //   }
// //   87% {
// //     top: -2px;
// //     right: -2px;
// //   }
// //   100% {
// //     top: -5px;
// //     right: 0;
// //   }
// // }

.animation {
  // display: inline-block;
  // position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  animation: animate 5s infinite;
  animation-delay: none;
  overflow: hidden;
  bottom: -152px;
  align-items: center;
  color: rgb(31, 134, 54);
  font-family: 'serif', Times, serif;
  text-align: center;
  font-size: 14px;
  transition: all;
  transition-duration: 0.5s;
}

@keyframes animate {
  20% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}

//FONT
.article2 h2 {
  color: #ac3f63;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  line-height: 160px;
  font-weight: normal;
  margin-bottom: -258px;
  margin-top: 113px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.about p {
  color: #7a7c7f;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-top: 44px;
  width: 434px;
  position: relative;
  margin-left: 13%;
}

.card-text {
  font-size: 19px;
  margin: 10%;
}
.card-text#tagged {
  color: #000000;
  font-size: 15px;
  margin: 4%;
  margin-bottom: 18%;
  text-shadow: 0 1px 1px #fff;
}
.card-title {
  display: block;
  text-align: center;
  font-weight: bold;
}

button {
  display: inline-block;
  margin: auto;
}

.btn.btn-primary {
  display: flex;
  justify-content: center;
  margin-left: 12%;
  margin-right: 17%;
}

// FOLDING MENU//////
.article.menu {
  text-transform: uppercase;
  color: rgba(55, 22, 240, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  //   bottom: 20px;
  //   left: 20px;
  //   z-index: 1;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #921212;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}
